.cucumber-report .body {
  font-family: Helvetica,Arial,sans-serif;
}

.cucumber-report .keyword {
  color: #164B2B;
}

.cucumber-report .description {
  font-style: italic;
  margin-left: 20px;
}

.cucumber-report .blockelement {
  margin-bottom: 20px;
}

.cucumber-report .childSection {
  margin-left: 20px;
}

.cucumber-report .steps {
  margin-left: 20px;
}

.cucumber-report table {
  border-collapse: collapse;
}

.cucumber-report table td {
  border: 1px;
  border-style: solid;
}

.cucumber-report table {
  margin-left: 20px;
}

.cucumber-report table thead {
  background-color: #C0C0C0;
}

.cucumber-report .passed {
  background-color: #C5D88A;
}

.cucumber-report .skipped {
  background-color: #EAEC2D;
}

.cucumber-report .failed {
  background-color: #D88A8A;
}

.cucumber-report .tags {
  display: inline;
}

.cucumber-report .tag {
  margin-right: 0.25em;
  color: #246ac1;
}

#cucumber-templates {
  display: none;
}
