body {
  font-family: Helvetica,Arial,sans-serif;
}

#templates {
  display: none;
}

.keyword {
  color: #164B2B;
}

.description {
  font-style: italic;
  margin-left: 20px;
}

.blockelement {
  margin-bottom: 20px;
}

.childSection {
  margin-left: 20px;
}

.steps {
  margin-left: 20px;
}

table {
  border-collapse: collapse;
}

table td {
  border: 1px;
  border-style: solid;
}

table {
  margin-left: 20px;
}

table thead {
  background-color: #C0C0C0;
}

.passed {
  background-color: #C5D88A;
}

.skipped {
  background-color: #EAEC2D;
}

.failed {
  background-color: #D88A8A;
}

.tags {
  display: inline;
}

.tag {
  margin-right: 0.25em;
  color: #246ac1;
}